#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: min-content;
    margin: 0 auto;

    li {
      list-style: none;
    }
  }
}
