@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.container {
  min-width: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;

  .title {
    font-size: 64px;
  }

  .btnModal {
    margin-bottom: 16px;
  }

  .btnDeleteAll,
  .btnModal {
    font-size: 18px;
    @include btn();
  }

  .noGiftMessage {
    text-align: center;
    margin-top: 16px;
  }

  .giftsContainer {
    list-style: none;
  }

  .gift {
    display: flex;
    align-items: center;
    font-size: 24px;
    padding-bottom: 16px;
    gap: 8px;

    .imgContainer {
      width: 50px;
      display: flex;

      img {
        width: 100%;
      }
    }

    p {
      width: 100%;
    }

    button {
      @include btn();
      font-weight: 700;
      height: fit-content;
    }
  }
}

.form {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;

  input {
    padding: 8px;
    font-size: 18px;
    min-width: 250px;
  }

  .formGroup {
    input {
      min-width: unset;
      width: 60px;
      margin-right: 8px;
    }

    button {
      font-size: 18px;
      @include btn();
    }
  }
}
