@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.container {
  max-width: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;

  .title {
    font-size: 64px;
  }

  .noGiftMessage {
    text-align: center;
    margin-top: 16px;
  }

  .giftsContainer {
    list-style: none;
  }

  .gift {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    padding-bottom: 16px;

    button {
      @include btn();

      font-weight: 700;
    }
  }

  .btnDeleteAll {
    font-size: 18px;
    @include btn();
  }

  .form {
    margin: 16px 0;

    input {
      min-width: 300px;
      padding: 8px;
      margin-right: 8px;
      font-size: 18px;
    }

    button {
      font-size: 18px;
      @include btn();
    }
  }
}
